<div class="chat__body">
  <div class="chat__body__container scroll-y">
  {{#each messages}}
    <div class="chat__body__date">
      <span>{{this.date}}</span>
    </div>
    {{#each this.messages}}
      {{#if this.url}}
          <div class="chat__body__image message {{#if this.my}}my{{/if}}">
            <img src="../../resources/img/{{this.url}}" alt="">
            <div class="message__date">{{this.date}}</div>
          </div>
      {{/if}}
      {{#if this.html}}
          <div class="chat__body__message message {{#if this.my}}my{{/if}}">
            {{{this.html}}}
            <div class="message__date">{{this.date}}</div>
          </div>
      {{/if}}
    {{/each}}
  {{/each}}
  </div>
</div>